.fondo-blanco {
    
   border: 0.2em black;
   margin: 5em;
}

.titulo {
    font-size: 2.5em;
    size: 3em;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.separador {
    border: 1.em grey;
}

.cajas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.peleas {

    color: red;
}


.borde-tabla td  {
    border: 0.01em solid black;
    
}

.fondopeleas {
    background-color: rgb(163, 228, 247);
    border-radius: 1em;
}

.descipcion {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.margen {
    background-color: rgb(181, 178, 178);
}