.fondo-blanco {
   margin: 5em;
}

.titulo {
    font-size: 2.5em;
    size: 3em;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


.cajas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.peleas {
    color: red;
}


.borde-tabla td  {
    border: 0.01em solid black;
    
}

.fondopeleas {
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
}

.descipcion {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.margen {
}